/*  ------------------------------------------------------------
                        Default Page Styling
*/

@viewport {
    width: device-width;
    zoom: 1.0;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #D9D9D9;
    transition: background-color 0.75s ease;
    margin-left: 5%;
    margin-right: 5%;
}

h1,
h2,
p,
label,
.navbar a,
.about-navbar a {
    color: #3F52FF;
}

input {
    color: #3F52FF;
    border: 1px solid #3F52FF;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    justify-content: space-between;
}

.logo {
    padding: 1% 1%;
    display: inline-flex;
}

.navbar {
    width: 100%;
    max-width: 100%;
    background-color: #C7CCF1;
    display: inline-flex;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #3F52FF;
    transition: background-color 0.75s ease;
}

#navbar-toggle {
    display: none;
}

.navbar a {
    text-decoration: none;
    font-size: 17px;
    display: inline-flex;
}

.navbar a:hover,
button:hover {
    color: white;
    cursor: pointer;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.content-container {
    display: flex;
    width: 100%;
}

.announcements,
.submissions,
.submissions-received,
.messages {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: fixed;
}

.footer-text {
    text-align: center;
}

.footer-text a {
    color: #3F52FF;
    text-decoration: none;
}

/*  ------------------------------------------------------------
                        Dark Mode Styling
*/

.dark-mode {
    background-color: #333333;
    box-shadow: none;
}

.dark-mode .announcements button,
.dark-mode .announcements-title button,
.dark-mode .profile-image-signout-margin button,
.dark-mode .groups-margin button,
.dark-mode .register-input button,
.dark-mode .register-login-input button,
.dark-mode .personal-details-input button,
.dark-mode .register-container button,
.dark-mode .register-login-buttons button,
.dark-mode .download-delete-buttons button,
.dark-mode .login-container button,
.dark-mode .post-button button,
.dark-mode .members-button button,
.dark-mode input,
.dark-mode .personal-details-input input,
.dark-mode .groups-container,
.dark-mode .task-container,
.dark-mode .ourvision-container,
.dark-mode .photo-buttons button,
.dark-mode .message-input button,
.dark-mode .contacts-container button,
.dark-mode .uploadsubmission-container button,
.dark-mode #edit-announcement-form input,
.dark-mode #edit-announcement-form button,
.dark-mode .submissions-received button,
.dark-mode .feedback-provided button {
    background-color: #333333;
    color: #C7CCF1;
    border: 1px solid #C7CCF1;
}

.dark-mode #navbar-toggle span,
.dark-mode #navbar-toggle::before,
.dark-mode #navbar-toggle::after {
    background-color: #C7CCF1;
}

.dark-mode #edit-announcement-form input,
.dark-mode #edit-announcement-form button {
    background-color: #666666;
}

.dark-mode .personal-details-input label,
.dark-mode .reactions-checkbox label,
.dark-mode .grade-select-container label,
.dark-mode .forgotten-link a,
.dark-mode .thumbs-up-count,
.dark-mode .footer-text h3,
.dark-mode .create-announcement label,
.dark-mode .dark-mode-button,
.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode .navbar a,
.dark-mode .about-navbar a,
.dark-mode .footer-text,
.dark-mode select {
    color: #C7CCF1;
}

.dark-mode .forgotten-link a:hover,
.dark-mode .footer-text h3:hover,
.dark-mode .navbar a:hover,
.dark-mode .about-navbar a:hover,
body:not(.dark-mode) .navbar .dark-mode-button:hover,
body:not(.dark-mode) .about-navbar .dark-mode-button:hover,
body.dark-mode .navbar .dark-mode-button:hover,
body.dark-mode .about-navbar .dark-mode-button:hover {
    color: white;
}

.dark-mode .register-container,
.dark-mode .login-container,
.dark-mode .announcements-container,
.dark-mode .uploadsubmission-container,
.dark-mode .navbar,
.dark-mode .about-navbar,
.dark-mode .profile-background,
.dark-mode .personal-details-background,
.dark-mode .groups-background,
.dark-mode .announcement-text-container input,
.dark-mode .photo-container,
.dark-mode .messages-container,
.dark-mode .contacts-container,
.dark-mode .prevsubmission-container,
.dark-mode .submissions-received-container,
.dark-mode .feedback-provided input {
    background-color: #666666;
    border: 2px solid #C7CCF1;
}

.dark-mode .upload-container {
    border: 2px #C7CCF1 dashed;
    background: #666666;
}

.dark-mode .upload-container img {
    filter: invert(94%) sepia(50%) saturate(5086%) hue-rotate(178deg) brightness(100%) contrast(88%);
}

.dark-mode .register-login-input a {
    text-decoration: none;
    color: #C7CCF1;
}

body:not(.dark-mode) .navbar .dark-mode-button,
body:not(.dark-mode) .about-navbar .dark-mode-button {
    color: #ff6961;
}

body.dark-mode .navbar .dark-mode-button,
body.dark-mode .about-navbar .dark-mode-button {
    color: #77DD77;
}

.dark-mode .logo,
.dark-mode .register-login-container img {
    filter: invert(100%);
}

/*  ------------------------------------------------------------
            Register, Login, Forgotten Password Page Styling
*/

.register-login-container {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.register-login-container img {
    margin-top: 5%;
    padding-bottom: 2%;
}

.register-login-input {
    display: flex;
    flex-direction: column;
}

.register-login-input label {
    padding-top: 3%;
    padding-bottom: 2%;
}

.register-login-input input,
.register-login-input select,
.register-login-input button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    width: auto;
}

.register-login-buttons button,
#registerButton {
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.login-button,
.register-login-input a {
    width: 100%;
    max-width: 100%;
}

.register-login-input a,
.register-login-input a:visited {
    text-decoration: none;
    color: #3F52FF;
}

/*  ------------------------------------------------------------
                        About Page Styling
*/

.about-navbar {
    width: inherit;
    background-color: #C7CCF1;
    display: inline-flex;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 25px;
    align-items: center;
    border: 2px solid #3F52FF;
    transition: background-color 0.75s ease;
}

.about-navbar a {
    text-decoration: none;
    font-size: 17px;
    display: inline-flex;
}

.about-navbar h3 {
    margin-left: 10px;
    margin-right: 10px;
}

.about-navbar a:hover,
button:hover {
    color: white;
    cursor: pointer;
}

.task-container,
.ourvision-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #3F52FF;
    padding: 1rem 3rem;
    background-color: white;
    overflow-y: hidden;
    margin-bottom: 2%;
    height: 70vh;
    border-radius: 100px;
}

.task-container {
    text-align: left;
    margin-right: 5%;
    width: 80vh;
}

.ourvision-container {
    text-align: right;
    margin-left: 5%;
}

/*  ------------------------------------------------------------
                        Photo Gallery Page Styling
*/

.photo-container {
    width: 100%;
    max-width: 100%;
    height: 70vh;
    border: 2px solid #3F52FF;
    padding: 1rem 3rem;
    background-color: white;
    border-radius: 100px;
    justify-content: center;
}

.photo h1 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.photo {
    display: none;
    flex-direction: column;
    align-items: center;
}

.photo img {
    width: 50%;
    height: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.photo.active {
    display: block;
}

.photo-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.photo-buttons button {
    margin: 0 10px;
}

/*  ------------------------------------------------------------
                        Announcements Page Styling
*/

.announcements-title,
.contacts-title,
.uploadsubmission-title,
.submissions-received-title {
    text-align: left;
    display: inline-flex;
}

.recentsubmission-title,
.feedback-title,
.messages-title {
    text-align: right;
    display: inline-flex;
}

.group-dropdown,
.grade-dropdown {
    position: relative;
    display: inline-flex;
    border: none;
    background-color: transparent;
    color: #3F52FF;
}

.announcements-container,
.messages-container,
.contacts-container,
.uploadsubmission-container,
.prevsubmission-container,
.submissions-received-container,
.feedback-provided-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #3F52FF;
    padding: 1rem 3rem;
    background-color: white;
    overflow-y: hidden;
    margin-bottom: 2%;
}

.announcements-container p {
    display: none;
}

.announcements-container.expand p {
    display: block;
}

.announcements-container.expand {
    width: 90vh;
    height: auto;
}

.announcements-container,
.messages-container,
.uploadsubmission-container,
.submissions-received-container {
    height: inherit;
    width: 90vh;
    position: relative;
    border-radius: 100px;
    transition: width 0.75s ease, height 0.75s ease;
}

.contacts-container,
.create-announcement,
.prevsubmission-container,
.feedback-provided {
    text-align: right;
    border-radius: 25px;
}

.create-announcement,
.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 100%;
}

#announcement-title-input,
#announcement-message-input {
    margin-bottom: 5%;
}

#create-announcement-form {
    width: inherit;
    height: inherit;
}

.create-announcement .form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-announcement input,
.create-announcement .post-button button {
    margin-left: auto;
    display: block;
}

.thumbs-up-count {
    color: #3F52FF;
}

.manage-group {
    display: inline-flex;
}

.announcements button,
.message-input button,
.contacts button,
.announcements-title button,
.profile-image-signout-margin button,
.groups-margin button,
.register-input button,
.personal-details-input button,
.register-container button,
.register-login-buttons button,
.download-delete-buttons button,
.login-container button,
.post-button button,
.photo-buttons button,
.uploadsubmission-container button,
.submissions-received button,
.download-grade-button-container button,
.feedback-provided button {
    display: inline-flex;
    text-align: center;
    background-color: #C7CCF1;
    border: 1px solid #3F52FF;
    border-radius: 5px;
    font-size: 17px;
    color: #3F52FF;
}

.announcements button:hover,
.announcements-title button:hover,
.profile-image-signout-margin button:hover,
.groups-margin button:hover,
.register-input button:hover,
.personal-details-input button:hover,
.register-container button:hover,
.register-login-buttons button:hover,
.register-login-input button:hover,
.register-login-input a:hover,
.post-button button:hover,
.photo-buttons button:hover,
.uploadsubmission-container button:hover,
.submissions-received button:hover,
.download-grade-button-container button:hover,
.feedback-provided button:hover {
    color: white;
}

.edit-modal input {
    border: 2px solid #3F52FF;
    border-radius: 25px;
    margin-bottom: 2%;
    text-align: center;
}

#edit-announcement-message {
    height: 100px;
}

.edit-modal button {
    margin-bottom: 2%;
}

.forgotten-link a:hover,
.footer-text h3:hover {
    color: #666666;
}

/*  ------------------------------------------------------------
                        Announcements Staff Page Styling
*/

.announcement-text-container input,
.feedback-provided input {
    border: 2px solid #3F52FF;
    border-radius: 25px;
    margin-bottom: 2%;
    width: 80%;
    text-align: center;
}

#announcement-message-input {
    height: 55vh;
}

.reactions-checkbox {
    display: inline-flex;
    align-items: right;
}

.create-announcement .form-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-footer label,
.post-button {
    padding-left: 2%;
}

/*  ------------------------------------------------------------
                        Submissions Page Styling
*/

.prevsubmissions {
    width: 100%;
    max-width: 100%;
    margin-left: 5%;
    align-items: right;
}

.submission-title {
    width: auto;
    text-align: center;
}

.submission-title input {
    height: auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.announcements,
.submissions,
.submissions-received,
.messages {
    width: auto;
}

.submission-upload {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 2%;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px #3F52FF dashed;
    background: #F0F8FF;
    border-radius: 50px;
    padding: 3%;
}

.upload-container img {
    filter: invert(47%) sepia(98%) saturate(5448%) hue-rotate(228deg) brightness(96%) contrast(111%);
    width: 25%;
    height: auto;
}

.prevsubmission-container {
    display: flex;
    text-align: center;
}

/*  ------------------------------------------------------------
                        Feedback Page Styling
*/

.load-next-prev-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#newer-sub-button {
    justify-self: start;
}

#older-sub-button {
    justify-self: end;
}

#feedback-form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: right;
}

.grade-select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.grade-select-container label {
    justify-content: flex-start;
}

.grade-select-container button {
    justify-content: flex-end;
}

#feedback-message-input {
    height: 50vh;
    margin-bottom: 10px;
    width: inherit;
}

.feedback-provided {
    width: 100%;
    max-width: 100%;
    height: 60vh;
    color: #3F52FF;
    margin-left: 5%;
}

/*  ------------------------------------------------------------
                        Messages Page Styling
*/

.messages {
    width: 100%;
    justify-content: right;
}

.contacts {
    width: 100%;
    max-width: 100%;
    margin-right: 10%;
    justify-content: left;
    align-items: left;
}

.contacts-search {
    width: 100%;
    max-width: 100%;
}

.contacts-search input {
    width: inherit;
}

.messages-container {
    height: 60vh;
    width: inherit;
    justify-content: right;
    overflow-y: auto;
    padding-bottom: 3%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: center;
}

.message-timestamp {
    display: block;
    font-size: 0.75rem;
    color: #888;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messages-container::-webkit-scrollbar {
    display: none;
}

.message-partner {
    text-align: left;
    margin-right: auto;
}

.message-user {
    text-align: right;
    margin-left: auto;
}

.message-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
}

.message-input button {
    margin-left: 5%;
}

.message-contact {
    justify-content: center;
    margin-bottom: 3%;
}

.contact-search {
    padding-bottom: 5%;
}

.contacts-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 3%;
    text-align: center;
}

.contacts-list {
    width: inherit;
}

#message-contact {
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

/*  ------------------------------------------------------------
                        Whiteboard Page Styling
*/

.whiteboard {
    width: 100%;
    max-width: 100%;
}

/*  ------------------------------------------------------------
                        Account Page Styling
*/

.profile-image-signout-margin,
.personal-details-margin,
.groups-margin {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.profile-image-signout-margin {
    justify-content: flex-start;
    align-items: left;
    margin-right: 5%;
}

.personal-details-margin {
    justify-content: center;
    align-items: center;
}

.groups-margin {
    justify-content: flex-end;
    align-items: right;
    margin-left: 5%;
}

.profile-background,
.personal-details-background,
.groups-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.personal-details-background {
    margin-left: 5%;
    margin-right: 5%;
}

#profile-pic {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 25%;
}

.center-buttons {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.center-buttons button {
    margin-bottom: 5%;
}

.personal-details-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    align-items: center;
}

#detailsForm {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.personal-details-input input {
    width: 90%;
    margin: 5% auto;
    height: auto;
}

.personal-details-input button {
    margin-top: 5%;
}

.email-noti-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email-noti-footer input[type="checkbox"] {
    width: auto;
    margin-left: 10px;
}

.current-groups,
.previous-groups {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20%;
    text-align: center;
}

.register-container,
.login-container,
.profile-background,
.personal-details-background,
.groups-background {
    padding: 3%;
    border: 2px solid #3F52FF;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 2%;
    height: inherit;
}

.login-container {
    margin-top: 5%;
}

.groups-container {
    border: 2px solid #3F52FF;
    border-radius: 25px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    html {
        height: 100vh;
    }

    .header-container,
    .title-container,
    .navbar,
    .content-container,
    .account-container {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: auto;
        max-width: 100%;
        height: auto;
        margin-bottom: 5%;
    }

    .navbar a,
    .footer-text a,
    .email-noti-footer label,
    .email-noti-footer input[type="checkbox"],
    .center-buttons button,
    .personal-details-input button,
    .download-delete-buttons button {
        font-size: smaller;
    }

    .announcements,
    .submissions-received,
    .messages {
        width: 100%;
        max-width: 100%;
    }

    .announcements-container,
    .submissions-received-container,
    .contacts-container,
    .messages-container,
    .profile-background,
    .personal-details-background,
    .groups-background {
        width: 90%;
        padding: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        display: block;
        margin: 2% auto;
    }

    .contacts {
        margin: 0;
    }

    .announcements-title,
    .submissions-received-title,
    .postedinfo-title,
    .feedback-title,
    .contacts-title,
    .messages-title {
        display: block;
        width: 100%;
        text-align: center;
    }

    .create-announcement,
    .messages,
    .contacts,
    .profile-image-signout-margin,
    .personal-details-margin,
    .groups-margin {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .profile-image-signout-margin,
    .personal-details-margin,
    .groups-margin {
        margin: 50px 0;
    }

    #create-announcement-form input,
    #create-announcement-form select {
        width: 90%;
        margin: 5% auto;
        display: block;
    }

    .groups-margin {
        margin: 3%;
    }

    .form-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .email-noti-footer {
        display: flex;
        flex-direction: row;
    }

    .email-noti-footer label,
    .email-noti-footer input[type="checkbox"] {
        margin-right: 0;
    }

    .edit-modal input,
    .edit-modal button {
        width: 90%;
    }

    .photo-buttons button,
    .download-delete-buttons button,
    .post-button button,
    .personal-details-input button,
    .center-buttons {
        margin: 5px;
        width: auto;
    }

    footer {
        display: none;
    }
}

@media (max-width: 480px) {
    .header-container {
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
    }

    .logo img {
        width: auto;
        height: 30px;
    }

    .logo {
        display: flex;
        align-items: center;
    }
    
    .navbar {
        display: none;
    }

    #navbar-toggle {
        margin-right: 0;
        align-self: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        position: relative;
    }

    #navbar-toggle::before,
    #navbar-toggle::after,
    #navbar-toggle span {
        content: "";
        display: block;
        background-color: #3F52FF;
        height: 2px;
        width: 70%;
        position: absolute;
        transition: 0.3s;
    }

    #navbar-toggle::before {
        top: 25%;
    }

    #navbar-toggle::after {
        bottom: 25%;
    }

    #navbar-toggle span {
        top: 50%;
        transform: translateY(-50%);
    }

    /* Register Mobile Page Styling */
    .register-container {
        margin-top: 40%;
        width: 90%;
    }
    
    /* Login Mobile Page Styling */
    .logo {
        margin: 0 auto;
        padding: 5px 0;
    }

    .register-login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-container {
        margin-top: 50%;
        width: 90%;
    }

    .form-footer {
        flex-direction: column;
    }

    .form-footer label,
    .form-footer .post-button {
        padding-left: 0;
    }

    /* Forgotten Password Mobile Page Styling */
    .personal-details-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #reset-button {
        text-align: center;
        width: 90%;
        margin: 0 auto 10px auto;
        display: block;
    }
}
