@viewport {
    width: device-width;
    zoom: 1.0;
}

html {
    font-family: sans-serif;
}

h1,
h2,
p {
    color: #3F52FF;
}

.header-container {
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    justify-content: space-between;
}

.logo {
    padding: 1% 1%;
    display: inline-flex;
}

/* add style to navbar */
.navbar {
    width: 100%;
    background-color: #C7CCF1;
    display: inline-flex;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #3F52FF;
    transition: background-color 0.75s ease;
}

.navbar a {
    color: #3F52FF;
    text-decoration: none;
    font-size: 17px;
    display: inline-flex;
}

.navbar a:hover {
    color: #333333;
    cursor: default;
}

.announcements-title {
    text-align: left;
}

.postedinfo-title {
    text-align: right;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.content-container {
    display: flex;
}

.announcements,
.postedinfo {
    display: flex;
    flex-direction: column;
}

.announcements-container,
.postedinfo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 18px 200px -60px black;
    border: 2px solid #3F52FF;
    padding: 1rem 3rem;
    background-color: white;
    overflow-y: hidden;
    margin-bottom: 2%;
}

.announcements p,
.postedinfo p {
    bottom: 5%;
}

.announcements-container {
    height: 15vh;
    text-align: left;
    width: 100%;
    position: relative;
    border-radius: 100px;
}

.postedinfo-container {
    height: 10vh;
    text-align: right;
    margin-left: auto;
    width: 50%;
    border-radius: 25px;
}

.announcements button,
.postedinfo button,
.announcements-title button {
    display: inline-flex;
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 17px;
    font-weight: bold;
    color: #3F52FF;
}

.announcements-title button {
    position: absolute;
    display: flex;
    left: 46%;
    top: 15%;
}

.postedinfo button {
    position: absolute;
    right: 5%;
    bottom: 10%;
}

.expand-react-button-container {
    position: absolute;
    top: 15%;
    right: 5%;
}

body {
    background-color: #D9D9D9;
    transition: background-color 0.75s ease;
    margin-left: 5%;
    margin-right: 5%;
}

.dark-mode {
    background-color: #333333;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode button,
.dark-mode .navbar a,
.dark-mode .footer-text {
    color: #C7CCF1;
}

.dark-mode .navbar {
    background-color: #3F52FF;
    border: 2px solid #C7CCF1;
}

.dark-mode .navbar a:hover {
    color: #333333;
}

.dark-mode .announcements-container,
.dark-mode .postedinfo-container {
    background-color: #666666;
}

/* Changes "Dark Mode" navbar text to red when disabled */
body:not(.dark-mode) .navbar .dark-mode-button {
    color: #ff6961;
}

/* Changes "Dark Mode" navbar text to green when enabled */
body.dark-mode .navbar .dark-mode-button {
    color: #77DD77;
}

/* Inverts logo colour when dark mode toggled */
.dark-mode .logo {
    filter: invert(100%);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-text {
    text-align: center;
    color: #3F52FF;
}

.links {
    text-align: center;
    padding-bottom: 1%;
}