/*  ------------------------------------------------------------
                        Default Page Styling
*/

@viewport {
    width: device-width;
    zoom: 1.0;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #D9D9D9;
    transition: background-color 0.75s ease;
    margin-left: 5%;
    margin-right: 5%;
}

h1,
h2,
p,
label,
.navbar a {
    color: #3F52FF;
}

input {
    color: #3F52FF;
    border: 1px solid #3F52FF;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    justify-content: space-between;
}

.logo {
    padding: 1% 1%;
    display: inline-flex;
}

/* add style to navbar */
.navbar {
    width: 100%;
    background-color: #C7CCF1;
    display: inline-flex;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 25px;
    justify-content: space-between;
    box-shadow: 10px 10px 10px #666666;
    align-items: center;
    border: 2px solid #3F52FF;
    transition: background-color 0.75s ease;
}

.navbar a {
    text-decoration: none;
    font-size: 17px;
    display: inline-flex;
}

.navbar a:hover,
button:hover {
    color: white;
    cursor: pointer;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.content-container {
    display: flex;
}

.announcements,
.postedinfo {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: fixed;
}

.footer-text {
    text-align: center;
    color: #3F52FF;
}

.links {
    text-align: center;
    padding-bottom: 1%;
}

/*  ------------------------------------------------------------
                        Dark Mode Styling
*/

.dark-mode {
    background-color: #333333;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode .navbar a,
.dark-mode .footer-text,
.dark-mode select {
    color: #C7CCF1;
}

.dark-mode .navbar a:hover {
    color: #333333;
}

.dark-mode .announcements button,
.dark-mode .postedinfo button,
.dark-mode .announcements-title button,
.dark-mode .postedinfo-title button {
    color: #C7CCF1;
}

.dark-mode .announcements-container,
.dark-mode .postedinfo-container,
.dark-mode .navbar {
    background-color: #666666;
    border: 2px solid #C7CCF1;
}

/* Changes "Dark Mode" navbar text to red when disabled */
body:not(.dark-mode) .navbar .dark-mode-button {
    color: #ff6961;
}

body:not(.dark-mode) .navbar .dark-mode-button:hover {
    color: white;
}

/* Changes "Dark Mode" navbar text to green when enabled */
body.dark-mode .navbar .dark-mode-button {
    color: #77DD77;
}

body.dark-mode .navbar .dark-mode-button:hover {
    color: white;
}

/* Inverts logo colour when dark mode toggled */
.dark-mode .logo {
    filter: invert(100%);
}

/*  ------------------------------------------------------------
            Register, Login, Forgotten Password Page Styling
*/

.register-login-container {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.register-login-container img {
    padding-bottom: 2%;
}

.register-login-input {
    display: flex;
    flex-direction: column;
}

.register-login-input input,
.register-login-input select,
.register-login-input button {
    margin-bottom: 5%; /* Adjust the value based on your design preference */
}

.g-signin2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.register-login-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
    grid-gap: 5%; /* Adjust the spacing between grid items */
    text-align: center;
    padding-bottom: 10%;
}

/*  ------------------------------------------------------------
                        Announcements Page Styling
*/

.announcements-title {
    text-align: left;
    display: inline-flex;
}

.postedinfo-title {
    text-align: right;
    display: inline-flex;
}

.group-dropdown {
    position: relative;
    display: inline-flex;
    border: none;
    background-color: transparent;
    color: #3F52FF;
}

.announcements-container,
.postedinfo-container {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px #666666;
    border: 2px solid #3F52FF;
    padding: 1rem 3rem;
    background-color: white;
    overflow-y: hidden;
    margin-bottom: 2%;
}

.announcements-container p {
    display: none;
}

.announcements-container.expand p {
    display: block;
}

.announcements-container.expand {
    width: 90vh;
    height: inherit;
}

.announcements-container {
    height: inherit;
    text-align: left;
    width: 90vh;
    position: relative;
    border-radius: 100px;
}

.postedinfo-container {
    height: 10vh;
    text-align: right;
    margin-left: auto;
    width: 40%;
    border-radius: 25px;
}

.announcements button,
.postedinfo button,
.announcements-title button,
.profile-image-signout-margin button,
.groups-margin button,
.register-input button,
.personal-details-input button,
.register-container button,
.register-login-buttons button,
.download-delete-buttons button,
.login-container button {
    display: inline-flex;
    text-align: center;
    background-color: #C7CCF1;
    border: 1px solid #3F52FF;
    border-radius: 5px;
    font-size: 17px;
    color: #3F52FF;
}

.announcements button:hover,
.postedinfo button:hover,
.announcements-title button:hover,
.profile-image-signout-margin button:hover,
.groups-margin button:hover,
.register-input button:hover,
.personal-details-input button:hover,
.register-container button:hover,
.register-login-buttons button:hover {
    color: white;
}

.postedinfo button {
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 75%;
}

/*  ------------------------------------------------------------
                        Account Page Styling
*/

.account-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three equal-width columns */
    grid-gap: 5%; /* Adjust the spacing between grid items */
    height: 95%;
}

.profile-image-signout-margin {
    align-items: center;
    text-align: center;
    height: inherit;
}

.profile-image-signout-margin img {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    transform: translate(50%, 0%); /* Center the image using transform */
}

.center-buttons {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.center-buttons button {
    margin-bottom: 5%;
}

.personal-details-margin {
    align-items: center;
    text-align: center;
    height: inherit;
}

.personal-details-input {
    padding-bottom: 5%;
    align-items: center;
}

.groups-margin {
    float: right;
    text-align: center;
    height: inherit;
}

.current-groups,
.previous-groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
    grid-gap: 5%; /* Adjust the spacing between grid items */
}

.register-container,
.login-container,
.profile-background,
.personal-details-background,
.groups-background {
    padding: 5%;
    box-shadow: 10px 10px 10px #666666;
    border: 2px solid #3F52FF;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 2%;
    height: inherit;
}

.login-container {
    margin-top: 5%;
}

.groups-container {
    box-shadow: 10px 10px 10px #666666;
    border: 2px solid #3F52FF;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 2%;
    margin-bottom: 15%;
}

.personal-details-input button {
    margin-top: 5%;
}